img.octocat {
    height: 200px;
    margin: 10px;

}

.bloqueUno{

    background-color: cyan;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bloqueDos{
    background-color: rosybrown;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bloqueTres{
    background-color: silver;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}
